@{ 
    ViewData["Title"] = "Registration completed";
}

<h1>@ViewData["Title"]</h1>

<p>
    You have successfully registered.
</p>
<p>
    <a asp-controller="Home" asp-action="Index">
        Return to the hub
    </a>
</p>