@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password";
}


<h1>Forgot password</h1>

<div class="container w-75">
    <div class="validation" asp-validation-summary="All"></div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}