@{
    ViewData["Title"] = "Password reset";
}

<h1>@ViewData["Title"]</h1>

<p>
    You have successfully reset your password.
</p>
<p>
    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="~/">
        Login
    </a>
</p>