@model ProjectViewModel
@{
    ViewData["Title"] = "New project";
}

<h1>Add new project</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedAt"></label>
        <input class="form-control" asp-for="CreatedAt" />
        <span asp-validation-for="CreatedAt"></span>
    </div>
    <div>
        <label>Authors</label>
        @Html.ListBoxFor(a => a.AuthorsId, (MultiSelectList)ViewBag.Authors, new { @class = "custom-select", multiple = "" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="@Context.Request.Headers["Referer"]" role="button">Cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}