@model Project
@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<h1>Delete</h1>

<div>
    <p>Are you sure you want detete this project?</p>

    <div class="container text-left" style="background-color:#eee">
        <h2>@Model.Name</h2>
        <p>
            Authors:
            @foreach (var project in Model.Authors)
            {
                <div class="w-auto">
                    @Html.RouteLink(project.FullName, new { controller = "Author", action = "About", id = project.Id })
                </div>
            }
        </p>

        <a class="btn btn-primary" href="@Context.Request.Headers["Referer"]" role="button">Cancel</a>
        <form class="d-inline" method="post">
            <button class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id" role="button">Delete</button>
        </form>
    </div>
</div>