@model IEnumerable<Project>
@{
    ViewData["Title"] = "Home";
}

<h1>Project hub</h1>
<div>
    @foreach (var project in Model)
    {
        <div class="container py-3">
            <div style="background-color: #eee;">

                <div class="h4">
                    @Html.ActionLink(project.Name, "About", "Project", new { id = project.Id }, new { style = "color:red" })
                </div>
                <div class="w-auto p-3 text-right">
                    @foreach (var author in project.Authors)
                    {
                        <div class="w-auto small">
                            <a href="~/Author/About/@author.Id">@author.FullName</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
