@model IEnumerable<Author>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Проекты</td>
        </tr>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>@string.Join(", ", author.Projects)</td>
            </tr>
        }
    </table>
</div>
