@model string

<div class="form-check text-right">
    <input class="form-check-input" type="checkbox" onchange="document.getElementById('@Model').type = this.checked ? 'text' : 'password'">
    <label class="form-check-label">
        Show password
    </label>
</div>