@model Author
@{
    ViewData["Title"] = $"About {Model.FullName}";
}

<h1>About</h1>

<div class="container text-left" style="background-color:#eee">
    <h2>@Model.FullName</h2>
    <p>
        Projects:
        @foreach (var project in Model.Projects)
        {
            <div class="w-auto">
                @Html.RouteLink(project.Name, new { controller = "Project", action = "About", id = project.Id })
            </div>
        }
    </p>
</div>

<div class="mt-2 d-flex justify-content-between">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Projects hub</a>
    @if (Context.User.IsInRole("admin"))
    {
        <div>
            <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id" role="button">Edit</a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id" role="button">Delete</a>
        </div>
    }
</div>